<h1 id="tableLabel">Save/Update Token</h1>


<p *ngIf="!tokens"><em>Loading...</em></p>


<div class="row">
  <div class="col-md-4 login-container">
    <h2 style="margin: auto">Login </h2>
    <form [formGroup]="formToken" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" formControlName="name" id="name">
      </div>
      <div class="form-group">
        <label for="username">Symbol:</label>
        <input type="text" class="form-control" formControlName="symbol" id="symbol">
      </div>
      <div class="form-group">
        <label for="username">Contract Address:</label>
        <input type="text" class="form-control" formControlName="contractAddress" id="contractAddress" >
      </div>
      <div class="form-group">
        <label for="username">Total Holders:</label>
        <input type="number" class="form-control" formControlName="totalHolders" id="totalHolders">
      </div>
      <div class="form-group">
        <label for="username">Total Supply:</label>
        <input type="number" class="form-control" formControlName="totalSupply" id="totalSupply">
      </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>
  <div class="col-md-8 login-container">
    <div style="display: block;">
      <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>





<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="tokens">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Contract Address</th>
      <th>Total Holders</th>
      <th>Totle Supply</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let token of tokens">
      <td>{{ token.id }}</td>
      <td>{{ token.name }}</td>
      <td>{{ token.symbol }}</td>
      <td>{{ token.contractAddress }}</td>
      <td>{{ token.totalHolders }}</td>
      <td>{{ token.totalSupply }}</td>
      <td><button class="btn btn-success" (click)="onUpdateAction(token)">Update</button></td>

    </tr>
  </tbody>
</table>

<!-- <ng-container>
  <form [formGroup]="formToken" (ngSubmit)="onSubmit()">
    <div class="form-row">     
        <div class="form-group col-5">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control"/>
        </div>     
    </div>
  </form>
</ng-container> -->
